* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #F63232;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    display: inline-block;
    font-size: 25pt;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px 10px;
}

.banner img {
    width: 100%;
}

.main-nav {
    background-color: #f4f4f4;
    /* nav barı yapıstırmaya bak tekrar */
    position: sticky;
    z-index: 1;
    top: 106px;
}

.main-nav ul {
    white-space: nowrap;
    font-size: 1.5em;
    padding: 20px;
}

.main-nav li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: #4B4B4B;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #4B4B4B;
}

.main-nav .join {
    text-decoration: underline;
    color: #F63232;
}

main article {
    margin: 80px 40px;
}

main article h2 {
    font-size: 35pt;
    color: #F63232;
}

main article p {
    padding: 15px 0px;
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: #4B4B4B;
}

main article p::first-line {
    font-weight: bold;
    font-size: 1.2rem;
}

main ul {
    white-space: nowrap;
    display: flex;
}

main li {
    display: inline-block;
    width: 50%;
}

.images {
    text-align: center;
    white-space: nowrap;
    margin: 80px 0;
    width: auto;
}

#img_1 {
    width: 77%;
}

#img_2 {
    width: 75%;
}

#img_2:hover {
    padding-right: 3px;
}

#img_1:hover {
    padding-right: 3px;
}

section {
    text-align: center;
}

section h2 {
    display: inline-block;
    font-size: 30pt;
    color: #4B4B4B;
    padding-bottom: 40px;
}

section p {
    color: #4B4B4B;
}

.action {
    text-align: center;
}


/* class alternatif gosterimi */
input[type="email"] {
    width: 250px;
    height: 50px;
    border: #f4f4f4;
    border-radius: 25px;
}

.submit {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border-color: greenyellow;
}

input[type="email"]:hover {
    border: dashed green 3px;
}

form {
    margin: 20px;
}

footer {
    background-color: #F63232;
    color: #f4f4f4;
    padding: 30px;
    text-align: center;
}